.user_acquaintance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40vw;
  height: 40vw;
  margin: 1vh 1vw;

  background-color: hsl(0, 0%, 100%);
  border-radius: 20%;

  transition: color 2s, background-color 2s;
  animation: 500ms appear;

  cursor: pointer;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.user_acquaintance:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  transition: color 0.5s, background-color 0.5s;
}

.user_acquaintance__photo_wrapper {
  flex-basis: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user_acquaintance__photo {
  height: 48px;
  width: 48px;

  border-radius: 60%;
}

.user_acquaintance__username_wrapper {
  flex-basis: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user_acquaintance__username {
  font-size: 1.5em;
  font-weight: 600;
}

.user_acquaintance__stats {
  flex-basis: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user_acquaintance__stats_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.user_acquaintance__stats_text,
.user_acquaintance__stats_number {
  width: 100%;
  text-align: center;
}

.user_acquaintance__stats_text {
  font-size: 1.2em;
}

.user_acquaintance__stats_number {
  font-size: 1.4em;
  font-weight: 600;
}

@media (min-width: 568px) {
  .user_acquaintance {
    width: 23vw;
    height: 23vw;
  }
}

@media (min-width: 720px) {
  .user_acquaintance {
    width: 17vw;
    height: 17vw;
  }
}

@media (min-width: 820px) {
  .user_acquaintance {
    width: 15vw;
    height: 15vw;
  }
}

@media (min-width: 912px) {
  .user_acquaintance {
    width: 12vw;
    height: 12vw;
  }
}

@media (min-width: 1024px) {
  .user_acquaintance {
    margin: 1vh;
  }
}

@media (min-width: 1366px) {
  .user_acquaintance {
    width: 8vw;
    height: 8vw;
  }

  .user_acquaintance__photo {
    height: 80px;
    width: 80px;
  }

  .user_acquaintance__stats_text {
    font-size: 1.5em;
  }

  .user_acquaintance__stats_number {
    font-size: 1.7em;
  }
}
