<div
  [ngClass]="{ 'user_acquaintance_wrapper--mutual': user.isMutual }"
  class="user_acquaintance_wrapper"
>
  <div [@buttonState]="buttonState" class="user_acquaintance">
    <div class="user_acquaintance__photo_wrapper">
      <!-- TODO: Follower image -->
      <img
        [src]="user.photo"
        alt="user image"
        class="user_acquaintance__photo"
      />
    </div>
    <div class="user_acquaintance__username_wrapper">
      <p class="user_acquaintance__username">
        {{ user.username }}
      </p>
    </div>
    <div class="user_acquaintance__stats">
      <div class="user_acquaintance__stats_section">
        <p class="user_acquaintance__stats_text">Followers</p>
        <p class="user_acquaintance__stats_number">
          {{ user.numberOfFollowers }}
        </p>
      </div>
      <div class="user_acquaintance__stats_section">
        <p class="user_acquaintance__stats_text">Following</p>
        <p class="user_acquaintance__stats_number">
          {{ user.numberOfFollowing }}
        </p>
      </div>
    </div>
  </div>
  <div [@buttonState]="buttonState" class="user_acquaintance__buttons_wrapper">
    <button
      (click)="onTakeAction()"
      type="button"
      class="user_acquaintance__button"
    >
      {{ isInFollowersView ? "Unfollow" : "Follow back" }}
    </button>
  </div>
</div>
