<section class="registration_form__wrapper">
  <form
    #registrationForm="ngForm"
    (ngSubmit)="onRegister()"
    class="registration_form"
  >
    <div class="registration_form__controls">
      <label
        for="username"
        class="registration_form__label"
        aria-placeholder="Username"
        >Username:
      </label>
      <input
        [(ngModel)]="userRegistrationDTO.username"
        required
        minlength="4"
        maxlength="40"
        type="text"
        name="username"
        id="username"
        class="registration_form__input"
        placeholder="Username"
      />
    </div>
    <div class="registration_form__controls">
      <label
        for="email"
        class="registration_form__label"
        aria-placeholder="Email"
        >Email:
      </label>
      <input
        [(ngModel)]="userRegistrationDTO.email"
        required
        email
        type="text"
        name="email"
        id="email"
        class="registration_form__input"
        placeholder="Email"
      />
    </div>
    <div class="registration_form__controls">
      <label
        for="password"
        class="registration_form__label"
        aria-placeholder="Password"
        >Password:
      </label>
      <input
        [(ngModel)]="userRegistrationDTO.password"
        required
        minlength="6"
        maxlength="30"
        type="text"
        name="password"
        id="password"
        class="registration_form__input"
        placeholder="Password"
      />
    </div>
    <div class="registration_form__controls">
      <label
        for="matching_password"
        class="registration_form__label"
        aria-placeholder="Matching Password"
        >Matching Password:
      </label>
      <input
        [(ngModel)]="userRegistrationDTO.matchingPassword"
        required
        minlength="6"
        maxlength="30"
        type="text"
        name="matching_password"
        id="matching_password"
        class="registration_form__input"
        placeholder="Matching Password"
      />
    </div>
    <div class="registration_form__controls">
      <button
        [disabled]="!registrationForm.valid"
        type="submit"
        class="registration_form"
      >
        Register
      </button>
    </div>
  </form>
</section>
