.auth_form__wrapper {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  background-color: hsl(0, 0%, 9%);
  opacity: 0.9;
}

.auth_form__wrapper--left {
  left: 0;
}

.auth_form__wrapper--right {
  left: 100%;
}

.auth_form {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.auth_form--row {
  flex-direction: row;
  flex-wrap: wrap;
}

.auth_sub_form {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth_form__title {
  flex-basis: 10%;

  font-size: 6em;
  font-weight: normal;
}

.auth_form__controls_wrapper {
  flex-basis: 80%;
  width: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth_form__controls {
  flex-basis: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 80%;
  width: 100%;
}

.auth_form__controls--row {
  flex-direction: row;
  justify-content: space-between;
}

.auth_form__label {
  font-size: 2em;
}

.auth_form__input {
  width: 100%;
  padding: 2% 1%;
  border: 1em hsl(0, 0%, 7%);
  border-radius: 2%;

  background-color: hsl(0, 0%, 7%);

  font-size: 1.5em;
  text-align: center;
  color: hsl(0, 0%, 100%);

  transition: background-color 0.3s, color 0.3s;
}

.auth_form__input:focus {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}

.auth_form__button {
  height: 50%;
  width: 45%;

  border: 1em hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 7%);

  font-size: 2em;
  color: hsl(0, 0%, 100%);

  transition: background-color 0.3s, color 0.3s;

  cursor: pointer;
}

.auth_form__button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}

.auth_form__switch_view {
  flex-basis: 5%;
}

.auth_form__switch_text {
  text-align: center;
  font-size: 1.5em;
  color: hsl(0, 0%, 60%);
  cursor: pointer;

  transition: color 0.3s;
}

.auth_form__switch_text:hover {
  color: hsl(0, 0%, 100%);
}

.auth_form__hidden {
  display: none;
}

@media (min-width: 736px) {
  .auth_form__title {
    font-size: 7em;
  }

  .auth_form__label,
  .auth_form__button {
    font-size: 2.25em;
  }

  .auth_form__input {
    border-radius: 2%;
    font-size: 1.75em;
  }

  .auth_form__switch_text {
    font-size: 1.75em;
  }
}

@media (min-width: 820px) {
  .auth_form__title {
    font-size: 8em;
  }

  .auth_form__label,
  .auth_form__button {
    font-size: 2.5em;
  }

  .auth_form__input {
    border-radius: 2%;
    font-size: 2em;
  }

  .auth_form__switch_text {
    font-size: 2em;
  }
}

@media (min-width: 890px) {
  .auth_form__wrapper {
    width: 50%;
  }
}
