<div class="comment">
  <div class="comment__author_photo_wrapper">
    <img
      src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
      class="comment__author_photo"
      alt="comment author image"
    />
  </div>
  <form
    appOnClickStopPropagation
    #commentForm="ngForm"
    (ngSubmit)="onAddComment()"
    class="comment__data"
  >
    <div class="comment__add_button_wrapper">
      <p class="comment__add_button_text">New Comment</p>
      <button
        *ngIf="commentForm.valid"
        type="submit"
        class="comment__add_button"
      >
        Submit
      </button>
    </div>
    <div class="comment__content">
      <input
        [(ngModel)]="commentDTO.content"
        appNotBlank
        class="comment__content_input"
        type="text"
        name="comment_content"
        id="comment_content"
        placeholder="Your message"
      />
    </div>
  </form>
</div>
