.comment__add_button_wrapper {
  flex-basis: 30%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 1% 0;
}

.comment__add_button {
  flex-basis: 30%;

  height: 100%;
  padding: 1% 2%;
  border: 1em hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 7%);

  font-size: 0.9em;
  color: hsl(0, 0%, 100%);

  transition: background-color 0.3s, color 0.3s;

  cursor: pointer;
}

.comment__add_button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}

.comment__content_input {
  width: 100%;
  font-size: 0.9em;
  text-align: center;
}

@media (min-height: 720px) {
  .comment__add_button_text {
    font-size: 1.6em;
  }

  .comment__add_button {
    font-size: 1.4em;
  }

  .comment__content_input {
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  .comment__add_button_text {
    font-size: 2em;
  }

  .comment__add_button {
    font-size: 1.75em;
  }

  .comment__content_input {
    font-size: 1.75em;
  }
}
