.posts-wrapper {
  height: 100vh;

  margin: 0 2vw;

  overflow-y: hidden;
}

.posts {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 20vw;

  height: 100vh;

  margin: 0 0 0 30vw;
}

.post__center_marker {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 10px;
  width: 10px;

  transform: translate(-50%);
}

@media (min-width: 1024px) {
  .posts-wrapper {
    overflow: hidden;
  }
}
