.posts-wrapper {
  height: 100vh;

  margin: 0 2vw;

  overflow-y: hidden;
}

.posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20vw;

  height: 100vh;

  margin: 0 30vw;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70vh;

  font-size: 1.5em;
  font-weight: 600;
  color: hsl(0, 0%, 7%);

  transition: transform 0.5s;
}

/* TODO: PostsComponent: Only if there is more than 1 child  */
.post:last-child {
  padding-right: 30vw;
}

.post__author,
.post__desciption {
  display: flex;
  align-items: center;

  width: 100%;

  background-color: hsl(0, 0%, 100%);
}

.post__author {
  flex-basis: 8%;
}

.post__author_image {
  height: 32px;
  width: 32px;

  margin-left: 10px;
  border-radius: 50%;
}

.post__desciption {
  flex-basis: 5%;
  justify-content: center;
}

.post__image {
  height: 87%;
  flex-basis: 87%;
}

.post__center_marker {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 10px;
  width: 10px;

  transform: translate(-50%);
}

@media (min-width: 1024px) {
  .posts-wrapper {
    overflow: hidden;
  }

  .post__author {
    flex-basis: 7%;
  }

  .post__image {
    height: 88%;
    flex-basis: 88%;
  }
}
