<!-- TODO: Rename one of elements elements with id: username (duplciates) -->
<div class="auth_wrapper">
  <div class="auth_wrapper__forms">
    <div
      [@switch]="{
        value: isInLoginView ? 'present' : 'hidden',
        params: {
          presentLeftValue: imagesPresentLeftValue,
          hiddenLeftValue: imagesHiddenLeftValue
        }
      }"
      class="auth_wrapper__image auth_wrapper__image--left"
    ></div>
    <div
      [@switch]="{
        value: isInLoginView ? 'hidden' : 'present',
        params: {
          presentLeftValue: imagesPresentLeftValue,
          hiddenLeftValue: imagesHiddenLeftValue
        }
      }"
      class="auth_wrapper__image auth_wrapper__image--right"
    ></div>
    <app-registration
      (viewChanged)="onChangeView()"
      [isInLoginView]="isInLoginView"
    ></app-registration>
    <app-authentication
      (viewChanged)="onChangeView()"
      [isInLoginView]="isInLoginView"
    ></app-authentication>
    <div
      [ngStyle]="{ left: isInLoginView ? '0' : errorsLeftOffset }"
      [@showErrors]="{
        value: hasErrors ? 'incorrect' : 'correct'
      }"
      class="auth_wrapper__error_wrapper"
    >
      <div class="auth_wrapper__error_messages">
        <p *ngFor="let error of errors" class="auth_wrapper__error_message">
          {{ error }}
        </p>
      </div>
      <div class="auth_wrapper__error_button_wrapper">
        <button
          (click)="onHideErrorMessages()"
          class="auth_wrapper__error_button"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
