<div class="auth_wrapper">
  <div class="auth_wrapper__forms">
    <div
      [@switch]="{
        value: isInLoginView ? 'present' : 'hidden',
        params: {
          presentLeftValue: presentLeftValue,
          hiddenLeftValue: hiddenLeftValue
        }
      }"
      class="auth_wrapper__image auth_wrapper__image--left"
    ></div>
    <div
      [@switch]="{
        value: isInLoginView ? 'hidden' : 'present',
        params: {
          presentLeftValue: presentLeftValue,
          hiddenLeftValue: hiddenLeftValue
        }
      }"
      class="auth_wrapper__image auth_wrapper__image--right"
    ></div>
    <app-registration
      (viewChanged)="onChangeView()"
      [isInLoginView]="isInLoginView"
    ></app-registration>
    <app-authentication
      (viewChanged)="onChangeView()"
      [isInLoginView]="isInLoginView"
    ></app-authentication>
  </div>
</div>
