<div class="auth_wrapper">
  <div class="auth_wrapper__forms">
    <div
      [ngStyle]="{ opacity: isInLoginView ? 0 : 1 }"
      class="auth_wrapper__image auth_wrapper__image--left"
    ></div>
    <div
      [ngStyle]="{ opacity: isInLoginView ? 1 : 0 }"
      class="auth_wrapper__image auth_wrapper__image--right"
    ></div>
    <app-registration
      (viewChanged)="onChangeView()"
      [isInLoginView]="isInLoginView"
    ></app-registration>
    <app-authentication
      (viewChanged)="onChangeView()"
      [isInLoginView]="isInLoginView"
    ></app-authentication>
  </div>
</div>
