.comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 12vh;
  min-height: 60px;
}

.comment__author_photo_wrapper,
.comment__data {
  display: flex;
  justify-content: space-around;

  height: 100%;
}

.comment__author_photo_wrapper {
  flex-basis: 25%;
}

.comment__author_photo {
  width: 100%;
}

.comment__data {
  flex-basis: 75%;

  flex-direction: column;
  align-items: flex-start;

  padding: 0 2%;
}

.comment__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  /* font-size: 0.75em; */
}

.comment__author {
  flex: 20%;
  font-size: 0.75em;
}

.comment__buttons_wrapper {
  flex: 80%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.comment__button_wrapper {
  height: 100%;
  margin-right: 10%;
}

.comment__button {
  height: 100%;
  padding: 5px 20%;
  border: 1em hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 7%);

  font-size: 0.65em;
  color: hsl(0, 0%, 100%);

  transition: background-color 0.3s, color 0.3s;

  cursor: pointer;
}

.comment__button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}

.comment__content_wrapper {
  display: flex;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;

  overflow-y: auto;
}

.comment__content {
  margin: auto;

  font-size: 0.75em;

  overflow-y: hidden;
}

.comment__content--enter {
  animation: show_content 0.5s both;
}

.comment__content--leave {
  animation: hide_content 0.5s 0.5s both;
}

@keyframes show_content {
  0% {
    color: hsl(0, 0%, 0%);
  }
  100% {
    color: hsl(0, 0%, 100%);
  }
}

@keyframes hide_content {
  0% {
    color: hsl(0, 0%, 100%);
  }
  100% {
    color: hsl(0, 0%, 0%);
  }
}

.comment__create_date {
  margin-left: auto;

  font-size: 0.45em;
  color: hsl(0, 0%, 50%);
}

.comment__bin_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 400px;
  height: 100%;

  transform: translate(-50%, -50%);

  overflow-y: hidden;
}

.comment__bin {
  position: absolute;
  left: 30%;
  top: 50%;

  width: 100%;
  max-width: 35px;
  height: 60%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;

  background: hsl(0, 0%, 100%);

  transform: scale(0);
}

.comment__bin--enter {
  animation: bin_enter 0.5s 0.5s both;
}

.comment__bin--leave {
  animation: bin_leave 0.5s both;
}

@keyframes bin_enter {
  0% {
    background: hsl(0, 0%, 100%);
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    background: hsl(0, 0%, 0%);
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    background: hsl(0, 0%, 0%);
    transform: rotate(60deg) translate(-50%, 25%) scale(1);
  }
}

@keyframes bin_leave {
  0% {
    background: hsl(0, 0%, 0%);
    transform: rotate(60deg) translate(-50%, 25%) scale(1);
  }
  20% {
    background: hsl(0, 0%, 0%);
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    background: hsl(0, 0%, 100%);
    transform: translate(-50%, -50%) scale(0);
  }
}

.comment__bin::before,
.comment__bin::after {
  content: "";

  position: absolute;
  left: 50%;

  height: 10%;

  background: hsl(0, 0%, 0%);
}

.comment__bin::before {
  top: -12%;
  width: 100%;
}

.comment__bin::after {
  top: -20%;
  width: 40%;
}

.comment__bin--enter::before {
  animation: lid_enter 0.5s 0.5s both;
}

.comment__bin--leave::before {
  animation: lid_leave 0.5s both;
}

.comment__bin--enter::after {
  animation: lid_enter 0.5s 0.5s both;
}

.comment__bin--leave::after {
  animation: lid_leave 0.5s both;
}

@keyframes lid_enter {
  0% {
    transform: translate(-50%, 0%) scale(0);
  }
  20% {
    transform: translate(-50%, 0%) scale(1);
  }
  100% {
    transform: rotate(-90deg) translate(20%, -900%) scale(1);
  }
}

@keyframes lid_leave {
  0% {
    transform: rotate(-90deg) translate(20%, -900%) scale(1);
  }
  20% {
    transform: translate(-50%, 0%) scale(1);
  }
  100% {
    transform: translate(-50%, 0%) scale(0);
  }
}

.comment__bin_text {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 1.25em;
  color: hsl(0, 0%, 100%);

  transform: scale(0);
}

.comment__bin_text--enter {
  animation: bin_text_enter 0.5s 0.5s both;
}

.comment__bin_text--leave {
  animation: bin_text_leave 0.5s both;
}

@keyframes bin_text_enter {
  0% {
    color: hsl(0, 0%, 100%);
    transform: translate(-45%, -50%) scale(0);
  }
  20% {
    color: hsl(0, 0%, 0%);
    transform: translate(-45%, -50%) scale(1);
  }
  100% {
    color: hsl(0, 0%, 0%);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes bin_text_leave {
  0% {
    color: hsl(0, 0%, 0%);
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    color: hsl(0, 0%, 0%);
    transform: translate(-45%, -50%) scale(1);
  }
  100% {
    color: hsl(0, 0%, 100%);
    transform: translate(-45%, -50%) scale(0);
  }
}

@media (min-height: 480px) {
  .comment__header {
    font-size: 0.9em;
  }

  .comment__author {
    font-size: 0.9em;
  }

  .comment__button {
    font-size: 0.85em;
  }

  .comment__content {
    font-size: 0.9em;
  }

  .comment__create_date {
    font-size: 0.6em;
  }

  .comment__bin_text {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .comment__header {
    font-size: 1.15em;
  }

  .comment__author {
    font-size: 1em;
  }

  .comment__button_wrapper {
    margin-right: 5%;
  }

  .comment__button {
    font-size: 0.95em;
  }

  .comment__content {
    font-size: 1em;
  }

  .comment__create_date {
    font-size: 0.85em;
  }

  .comment__bin_text {
    font-size: 1.75em;
  }
}
