<div class="comment">
  <div class="comment__author_photo_wrapper">
    <img
      src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
      class="comment__author_photo"
      alt="comment author image"
    />
  </div>
  <div class="comment__data">
    <div class="comment__header">
      <div class="comment__author">{{ comment.author }}</div>
      <div class="comment__button_wrapper">
        <button appOnClickStopPropagation type="button" class="comment__button">
          Edit
        </button>
      </div>
      <div class="comment__button_wrapper">
        <button
          appOnClickStopPropagation
          (mouseenter)="onHoverDeleteButton(true)"
          (mouseleave)="onHoverDeleteButton(false)"
          (click)="onDeleteComment()"
          type="button"
          class="comment__button"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="comment__content_wrapper">
      <div
        [ngClass]="{
          'comment__bin--enter': deleteState === 'enter',
          'comment__bin--leave': deleteState === 'leave'
        }"
        class="comment__bin"
      ></div>
      <div [@hideText]="deleteState" class="comment__content">
        {{ comment.content }}
      </div>
    </div>
    <div class="comment__create_date">{{ getFormatedDate() }}</div>
  </div>
</div>
