<div
  [@deleteComment]="deleteState"
  (@deleteComment.done)="onCommentDeleteAnimationFinished()"
  class="comment"
>
  <div class="comment__author_photo_wrapper">
    <img
      src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
      class="comment__author_photo"
      alt="comment author image"
    />
  </div>
  <div class="comment__data">
    <div class="comment__header">
      <div class="comment__author">{{ comment.author }}</div>
      <div class="comment__button_wrapper">
        <button appOnClickStopPropagation type="button" class="comment__button">
          Edit
        </button>
      </div>
      <div class="comment__button_wrapper">
        <button
          appOnClickStopPropagation
          (mouseenter)="onHoverDeleteButton(true)"
          (mouseleave)="onHoverDeleteButton(false)"
          (click)="onDeleteComment()"
          type="button"
          class="comment__button"
        >
          Delete
        </button>
      </div>
    </div>
    <div
      #commentContentWrapper
      [ngStyle]="{
        'overflow-y':
          deleteState === 'enter' || deleteState === 'delete'
            ? 'hidden'
            : 'auto'
      }"
      class="comment__content_wrapper"
    >
      <div class="comment__bin_wrapper">
        <div
          [ngClass]="{
            'comment__bin--enter':
              deleteState === 'enter' || deleteState === 'delete',
            'comment__bin--leave': deleteState === 'leave'
          }"
          class="comment__bin"
        ></div>
        <div
          [ngClass]="{
            'comment__bin_text--enter':
              deleteState === 'enter' || deleteState === 'delete',
            'comment__bin_text--leave': deleteState === 'leave'
          }"
          class="comment__bin_text"
        >
          Delete
        </div>
      </div>
      <div
        [ngClass]="{
          'comment__content--enter': deleteState === 'enter',
          'comment__content--leave':
            deleteState === 'leave' || deleteState === 'delete'
        }"
        class="comment__content"
      >
        {{ comment.content }}
      </div>
    </div>
    <div class="comment__create_date">{{ getFormatedDate() }}</div>
  </div>
</div>
