.comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 12vh;
}

.comment__author_photo_wrapper,
.comment__data {
  display: flex;
  justify-content: space-around;

  height: 100%;
}

.comment__author_photo_wrapper {
  flex-basis: 25%;
}

.comment__author_photo {
  width: 100%;
}

.comment__data {
  flex-basis: 75%;

  flex-direction: column;
  align-items: flex-start;

  padding: 0 2%;
}

.comment__header {
  display: flex;
  flex-direction: row;

  width: 100%;

  font-size: 0.75em;
}

.comment__content_wrapper {
  display: flex;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;

  margin: auto;

  overflow-y: auto;
}

.comment__content {
  font-size: 0.6em;

  overflow-y: hidden;
}

.comment__create_date {
  margin-left: auto;

  font-size: 0.45em;
  color: hsl(0, 0%, 50%);
}

.comment__bin {
  position: absolute;
  left: 30%;
  top: 50%;

  width: 10%;
  max-width: 35px;
  height: 60%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;

  background: hsl(0, 0%, 100%);

  transform: scale(0);
}

.comment__bin--enter {
  animation: bin_enter 0.5s 0.5s both;
}

@keyframes bin_enter {
  0% {
    background: hsl(0, 0%, 100%);
    transform: translate(0%, -50%) scale(0);
  }

  20% {
    background: hsl(0, 0%, 0%);
    transform: translate(0%, -50%) scale(1);
  }

  100% {
    background: hsl(0, 0%, 0%);
    transform: rotate(60deg) translate(-30%, -70%) scale(1);
  }
}

.comment__bin--leave {
  animation: bin_leave 0.5s both;
}

@keyframes bin_leave {
  0% {
    background: hsl(0, 0%, 0%);
    transform: rotate(60deg) translate(-30%, -70%) scale(1);
  }

  20% {
    background: hsl(0, 0%, 0%);
    transform: translate(0%, -50%) scale(1);
  }

  100% {
    background: hsl(0, 0%, 100%);
    transform: translate(0%, -50%) scale(0);
  }
}

.comment__bin::before,
.comment__bin::after {
  content: "";

  position: absolute;
  left: 50%;

  height: 10%;

  background: hsl(0, 0%, 0%);
}

.comment__bin::before {
  top: -12%;
  width: 100%;
}

.comment__bin::after {
  top: -20%;
  width: 40%;
}

.comment__bin--enter::before {
  animation: lid_enter 0.5s 0.5s both;
}

.comment__bin--leave::before {
  animation: lid_leave 0.5s both;
}

.comment__bin--enter::after {
  animation: lid_enter 0.5s 0.5s both;
}

.comment__bin--leave::after {
  animation: lid_leave 0.5s both;
}

@keyframes lid_enter {
  0% {
    transform: translate(-50%, 0%) scale(0);
  }

  20% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: rotate(-90deg) translate(20%, -900%) scale(1);
  }
}

@keyframes lid_leave {
  0% {
    transform: rotate(-90deg) translate(20%, -900%) scale(1);
  }

  20% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: translate(-50%, 0%) scale(0);
  }
}

@media (min-height: 480px) {
  .comment__header {
    font-size: 0.9em;
  }

  .comment__content {
    font-size: 0.75em;
  }

  .comment__create_date {
    font-size: 0.6em;
  }
}

@media (min-width: 1024px) {
  .comment__header {
    font-size: 1.15em;
  }

  .comment__content {
    font-size: 1em;
  }

  .comment__create_date {
    font-size: 0.85em;
  }
}
