<section class="authentication_form__wrapper">
  <form
    #authenticationForm="ngForm"
    (ngSubmit)="onAuthenticate()"
    class="authentication_form"
  >
    <div class="authentication_form__controls">
      <label
        for="username"
        class="authentication_form__label"
        aria-placeholder="Username"
        >Username:
      </label>
      <input
        [(ngModel)]="authenticationRequest.username"
        required
        type="text"
        name="username"
        id="username"
        class="authentication_form__input"
        placeholder="Username"
      />
    </div>
    <div class="authentication_form__controls">
      <label
        for="email"
        class="authentication_form__label"
        aria-placeholder="Email"
        >Email:
      </label>
      <input
        [(ngModel)]="authenticationRequest.email"
        required
        email
        type="text"
        name="email"
        id="email"
        class="authentication_form__input"
        placeholder="Email"
      />
    </div>
    <div class="authentication_form__controls">
      <label
        for="password"
        class="authentication_form__label"
        aria-placeholder="Password"
        >Password:
      </label>
      <input
        [(ngModel)]="authenticationRequest.password"
        required
        type="text"
        name="password"
        id="password"
        class="authentication_form__input"
        placeholder="Password"
      />
    </div>
    <div class="authentication_form__controls">
      <button type="submit" class="authentication_form">Sign In</button>
      <!-- <button [disabled]="!authenticationForm.valid" type="submit" class="authentication_form">
          Sign In
        </button> -->
    </div>
    <p
      *ngFor="let authError of authErrors"
      class="authentication_form__error_message"
    >
      {{ authError }}
    </p>
  </form>
</section>
