.post__wrapper {
  height: 84vh;

  font-weight: 600;
  color: hsl(0, 0%, 7%);

  cursor: pointer;
}

.post {
  height: 84vh;
  transform-origin: center;
}

.post__data {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.post__buttons_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5%;
}

.post__button_wrapper {
  height: 100%;
  width: 25%;
}

.post__button {
  height: 100%;
  width: 100%;

  border: 1em hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 7%);
  opacity: 0.75;

  font-size: 0.9em;
  color: hsl(0, 0%, 100%);

  transition: background-color 0.3s, color 0.3s;

  cursor: pointer;
}

.post__button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}

.post__author,
.post__desciption {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: hsl(0, 0%, 100%);
}

.post__author {
  flex-basis: 8%;
}

.post__author_username {
  margin-left: 6px;
}

.post__author_photo {
  height: 24px;
  width: 24px;

  border-radius: 50%;
}

.post__desciption {
  flex-basis: 5%;
  justify-content: center;
}

.post__caption {
  font-size: 0.9em;
}

.post__photo {
  flex-basis: 87%;

  height: 87%;
}

.post__photo_change_buttons {
  position: absolute;
  offset: 0;

  width: 100%;
}

.post__photo_change_button {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 16px;
  width: 16px;

  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);

  opacity: 0.75;

  font-size: 0.9em;

  transition: all 0.5s;

  cursor: pointer;
}

.post__photo_change_button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 7%);
  opacity: 1;
  transform: scale(1.2);
}

.post__photo_change_button--left {
  left: 2%;
}

.post__photo_change_button--right {
  right: 2%;
}

@media (min-height: 720px) {
  .post__button {
    font-size: 1.4em;
  }

  .post__author_username {
    font-size: 1.6em;
  }

  .post__author_photo {
    height: 32px;
    width: 32px;
  }

  .post__caption {
    font-size: 1.4em;
  }

  .post__photo_change_button {
    height: 32px;
    width: 32px;

    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  .post__button {
    font-size: 1.75em;
  }

  .post__author {
    flex-basis: 7%;
  }

  .post__author_username {
    font-size: 2em;
  }

  .post__caption {
    font-size: 1.75em;
  }

  .post__photo {
    height: 88%;
    flex-basis: 88%;
  }

  .post__photo_change_button {
    font-size: 1.75em;
  }
}
