<div class="follower">
  <div class="follower__photo_wrapper">
    <!-- TODO: Follower image -->
    <img
      src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
      alt="user image"
      class="follower__photo"
    />
  </div>
  <div class="follower__username_wrapper">
    <p class="follower__username">{{ follower.username }}</p>
  </div>
  <div class="follower__stats">
    <div class="follower__stats_section">
      <p class="follower__stats_text">Followers</p>
      <p class="follower__stats_number">
        {{ follower.numberOfFollowers }}
      </p>
    </div>
    <div class="follower__stats_section">
      <p class="follower__stats_text">Following</p>
      <p class="follower__stats_number">{{ follower.numberOfFollowing }}</p>
    </div>
  </div>
</div>
