.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 60vw;
  height: 35vh;
  margin: 1vh 0;

  background-color: hsl(0, 0%, 100%);
  border-radius: 20%;
}

.follower__photo_wrapper {
  flex-basis: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.follower__photo {
  height: 32px;
  width: 32px;

  border-radius: 60%;
}

.follower__username_wrapper {
  flex-basis: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.follower__username {
}

.follower__stats {
  flex-basis: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.follower__stats_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.follower__stats_text,
.follower__stats_number {
  width: 100%;
  text-align: center;
}

@media (min-height: 720px) {
  .follower__photo {
    height: 128px;
    width: 128px;
  }
}
