<div class="follower">
  <div class="follower__image_wrapper">
    <!-- TODO: Follower image -->
    <img
      src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
      alt="user image"
      class="follower__image"
    />
  </div>
  <div class="follower__username_wrapper">
    <p class="follower__username">{{ follower.username }}</p>
  </div>
  <div class="follower__stats">
    <div class="follower__followers">
      <p class="follower__followers_text">Followers</p>
      <p class="follower__followers_number">
        {{ follower.numberOfFollowers }}}
      </p>
    </div>
    <div class="follower__following">
      <p class="follower__following_text">Following</p>
      <p class="follower__following_number">
        {{ follower.numberOfFollowing }}}
      </p>
    </div>
  </div>
</div>
