.user_acquaintances {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100vw;
  max-height: 100vh;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.user_acquaintances::-webkit-scrollbar {
  display: none;
}
