.background_wrapper {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 9%);
  opacity: 0.6;
}
