.background_wrapper {
  display: grid;
  position: absolute;
  left: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.background__images {
  display: grid;
}

.background__image {
  object-fit: cover;
  width: 100%;

  background-size: cover;
  background-position: center center;
}
