.post_edit__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  min-height: 411px;
  max-width: 731px;

  background-color: hsl(0, 0%, 9%);
  opacity: 0.9;

  color: hsl(0, 0%, 100%);
}

.post_edit__image {
  flex-basis: 60%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post_edit__image_input {
  display: none;
}

.post_edit__image_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 15%;
  width: 65%;
}

.post_edit__image_button {
  height: 100%;
  width: 100%;

  border: 1em hsl(0, 0%, 7%);
  border-radius: 5%;
  background-color: hsl(0, 0%, 7%);

  font-size: 2em;
  color: hsl(0, 0%, 100%);

  transition: background-color 0.3s, color 0.3s;

  cursor: pointer;
}

.post_edit__image_button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}

.post_edit__canvas {
  width: 100%;
  height: 100%;
}

.post_edit__editor_wrapper {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.post_edit__editor_tabs {
  display: flex;
}

.post_edit__editor_tab {
  flex-basis: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2%;
  border-bottom: 0.2em solid hsl(0, 0%, 100%);

  font-size: 2em;

  cursor: pointer;

  transition: font-size 0.3s, background-color 0.3s, color 0.3s,
    border-bottom 0.3s;
}

.post_edit__editor_tab--inactive {
  font-size: 1.5em;

  color: hsla(0, 0%, 100%, 0.3);
  border-bottom: 0.2em solid hsla(0, 0%, 100%, 0.3);
}

.post_edit__editor {
}

@media (min-width: 348px) {
  .post_edit__canvas {
    width: 348px;
    height: 348px;
  }
}

@media (min-width: 736px) {
  .post_edit__image_button,
  .post_edit__editor_tab {
    font-size: 2.25em;
  }

  .post_edit__editor_tab--inactive {
    font-size: 1.75em;
  }
}

@media (min-width: 820px) {
  .post_edit__image_button,
  .post_edit__editor_tab {
    font-size: 2.5em;
  }

  .post_edit__editor_tab--inactive {
    font-size: 2em;
  }
}
