<div class="post_edit__wrapper">
  <div class="post_edit__image">
    <div *ngIf="files.length === 0" class="post_edit__image_button_wrapper">
      <input
        #imageInput
        (change)="onUploadImage(imageInput)"
        multiple
        type="file"
        class="post_edit__image_input"
        accept="image/*"
      />
      <button
        (click)="imageInput.click()"
        type="button"
        class="post_edit__image_button"
      >
        Upload images
      </button>
    </div>
    <img
      *ngIf="files.length > 0"
      #canvas
      src="../../../assets/pictures/astronaut-small.jpg"
      alt=""
      class="post_edit__canvas"
    />
    <!-- <canvas #canvas class="post_edit__canvas"></canvas> -->
  </div>
  <div *ngIf="files.length > 0" class="post_edit__editor_wrapper">
    <div class="post_edit__editor_tabs">
      <div
        [ngClass]="{ 'post_edit__editor_tab--inactive': isInFiltersTab }"
        class="post_edit__editor_tab"
      >
        Filters
      </div>
      <div
        [ngClass]="{ 'post_edit__editor_tab--inactive': !isInFiltersTab }"
        class="post_edit__editor_tab"
      >
        Edition
      </div>
    </div>
    <div class="post_edit__editor"></div>
  </div>
</div>
