<div
  [ngStyle]="{ 'align-items': files.length === 0 ? 'center' : 'start' }"
  class="post_edit__wrapper"
>
  <div *ngIf="files.length === 0" class="post_edit__image_button_wrapper">
    <input
      #imageInput
      (change)="onUploadImage(imageInput)"
      multiple
      type="file"
      class="post_edit__image_input"
      accept="image/*"
    />
    <button
      (click)="imageInput.click()"
      type="button"
      class="post_edit__image_button"
    >
      Upload images
    </button>
  </div>
  <div *ngIf="files.length > 0" class="post_edit__image_wrapper">
    <img #image src="#" alt="Current image" class="post_edit__image" />
    <canvas #canvas class="post_edit__canvas"></canvas>
  </div>
  <div *ngIf="files.length > 0" class="post_edit__editor_wrapper">
    <div class="post_edit__editor_tabs">
      <div
        (click)="onChangeTab(true)"
        [ngClass]="{ 'post_edit__editor_tab--inactive': !isInFiltersTab }"
        class="post_edit__editor_tab"
      >
        Filters
      </div>
      <div
        (click)="onChangeTab(false)"
        [ngClass]="{ 'post_edit__editor_tab--inactive': isInFiltersTab }"
        class="post_edit__editor_tab"
      >
        Edition
      </div>
    </div>
    <div class="post_edit__editor_content">
      <div *ngIf="isInFiltersTab" class="post_edit__filters">
        <div
          *ngFor="let filter of filters"
          (click)="onApplyFilter(filter)"
          class="post_edit__filter"
        >
          <canvas #filterCanvas class="post_edit__filter_image"></canvas>
          <div class="post_edit__filter_name">{{ filter.name }}</div>
        </div>
      </div>
      <div *ngIf="!isInFiltersTab" class="post_edit__editor_image"></div>
    </div>
  </div>
</div>
