<div
  [ngStyle]="{ 'align-items': files.length === 0 ? 'center' : 'start' }"
  class="post_edit__wrapper"
>
  <div *ngIf="files.length === 0" class="post_edit__image_button_wrapper">
    <input
      #imageInput
      (change)="onAddImages(imageInput)"
      multiple
      type="file"
      class="post_edit__image_input"
      accept="image/*"
    />
    <button
      (click)="imageInput.click()"
      type="button"
      class="post_edit__image_button"
    >
      Upload images
    </button>
  </div>
  <div *ngIf="files.length > 0" class="post_edit__image_wrapper">
    <img #image src="#" alt="Current image" class="post_edit__image" />
    <canvas #canvas class="post_edit__canvas"></canvas>
    <div *ngIf="files.length > 0" class="post_edit__photo_change_buttons">
      <div
        [ngStyle]="{ display: currentPhotoIndex > 0 ? 'flex' : 'none' }"
        (click)="onChangeCurrentPhoto(-1)"
        class="post_edit__photo_change_button post_edit__photo_change_button--left"
      >
        <
      </div>
      <div
        [ngStyle]="{
          display: currentPhotoIndex < files.length - 1 ? 'flex' : 'none'
        }"
        (click)="onChangeCurrentPhoto(1)"
        class="post_edit__photo_change_button post_edit__photo_change_button--right"
      >
        >
      </div>
    </div>
    <div class="post_edit__upload_button_wrapper">
      <button (click)="onCreatePost()" class="post_edit__upload_button">
        Upload
      </button>
    </div>
  </div>
  <div *ngIf="files.length > 0" class="post_edit__editor_wrapper">
    <div class="post_edit__editor_tabs">
      <div
        (click)="onChangeTab(true)"
        [ngClass]="{ 'post_edit__editor_tab--inactive': !isInFiltersTab }"
        class="post_edit__editor_tab"
      >
        Filters
      </div>
      <div
        (click)="onChangeTab(false)"
        [ngClass]="{ 'post_edit__editor_tab--inactive': isInFiltersTab }"
        class="post_edit__editor_tab"
      >
        Edition
      </div>
    </div>
    <div class="post_edit__editor_content">
      <div *ngIf="isInFiltersTab" class="post_edit__filters">
        <div
          *ngFor="let filter of filters"
          (click)="onApplyFilter(filter)"
          class="post_edit__filter"
        >
          <canvas #filterCanvas class="post_edit__filter_image"></canvas>
          <div class="post_edit__filter_name">{{ filter.name }}</div>
        </div>
      </div>
      <div *ngIf="!isInFiltersTab" class="post_edit__editor_sliders">
        <div
          *ngFor="let editorSlider of editorSliders"
          class="post_edit__range_slider_wrapper"
        >
          <div class="post_edit__range_slider_name">
            {{ editorSlider.name }}
          </div>
          <div class="post_edit__range_slider_value_wrapper">
            <div class="post_edit__range_slider_input_wrapper">
              <input
                #sliderInput
                (change)="onChangeSliderValue(editorSlider, +sliderInput.value)"
                class="post_edit__range_slider_input"
                type="range"
                [value]="editorSlider.currentValue"
                [min]="editorSlider.minValue"
                [max]="editorSlider.maxValue"
              />
            </div>
            <div class="post_edit__range_slider_value">
              {{ editorSlider.currentValue }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
